<ion-view view-title="Wekuume">
  <ion-content class="topic-list">
      <div class="card topic-card">
          <div class="item item-divider">
            Digital Security Tips - Oct 6, 2017
          </div>
          <ion-item class="item-stable item-icon-right item-text-wrap" ng-class=""  ng-click="toggleUnits(topic)">
              Change the Key That Unlocks Your Accounts
          </ion-item>
          <ion-item class="item item-text-wrap" ng-class="">
              <strong>Q.</strong> I was using an authenticator app to get security codes for my email account, but I got a new phone and now the app doesn’t work after I transferred my stuff. How do I get this working again? <br />
              <strong>A.</strong> For security reasons, many authenticator apps do not transfer login codes and app data from an old phone to a new one. Instead, you usually have to log into your mail account on the web and remove the old app from your account settings. Then you download the authenticator app to your new phone and link it with your mail account, as you first did with the old phone. Each authenticator app has its own specific steps, but the popular programs from Microsoft and Google follow a similar approach.
              If you were using Microsoft Authenticator as a two-step verification method for your Microsoft mail, log into your mail account on the web, click the link for your account security settings and click “more options” on the page. In the Identity Verification Apps section, click “Turn off all existing apps” and then choose “Set up identity verification app.” Follow the steps on the screen to add the app on your new phone. Back on your old phone, delete your mail account from the authenticator app by clicking the Edit Accounts button, or swiping to the right on an account name to delete it.
              Google Authenticator can also be updated on a new phone, but you may want to log into your account and make a set of backup codes to use before you begin the transfer process — or have other identity verification methods in place. Google’s support site has its own step-by-step guide for getting two-step verification code on a new phone, along with how to remove your account from the authenticator app on your old phone.
              Source: <a href="https://www.nytimes.com/topic/subject/computer-security-cybersecurity">https://www.nytimes.com/topic/subject/computer-security-cybersecurity</a>
              
          </ion-item>
        </div>

    <div class="card topic-card">
      <div class="item item-divider">
        Digital Security News - Sept 19, 2017
      </div>
      <ion-item class="item-stable item-icon-right item-text-wrap" ng-class=""  ng-click="toggleUnits(topic)">
        Malware Embedded in CCleaner Tool Puts Millions at Risk
      </ion-item>
      <ion-item class="item item-text-wrap" ng-class="">
        Malicious code has been discovered in two versions of Piniform's CCleaner housekeeping utility, the company disclosed on Monday. Piniform is owned by Avast, whose security products are used by more than 400 million people. The malware infecting CCleaner could give hackers control over the devices of more than 2 million users. CCleaner is designed to rid computers and mobile phones of junk, such as unwanted applications and advertising cookies. For more on this story click on the following link: <a href="https://www.technewsworld.com/story/84818.html">https://www.technewsworld.com/story/84818.html</a>
      </ion-item>
    </div>    

    <div class="card topic-card">
      <div class="item item-divider">
        Citizen Lab - May 29, 2016
      </div>
      <ion-item class="item-stable item-icon-right item-text-wrap" ng-class=""  ng-click="toggleUnits(topic)">
        Keep Calm and (Don’t) Enable Macros: A New Threat Actor Targets UAE Dissidents
      </ion-item>
      <ion-item class="item item-text-wrap" ng-class="">
        This report describes a campaign of targeted spyware attacks carried out by a sophisticated operator, which we call Stealth Falcon.  The attacks have been conducted from 2012 until the present, against Emirati journalists, activists, and dissidents.
      </ion-item>
    </div>
  </ion-content>
</ion-view>
